<label *ngIf="!configuration.disableScreenshotMode" [attr.class]="configuration.uploadButtonClass ? configuration.uploadButtonClass : 'btn btn-primary btn-block'">
  <span class="glyphicon glyphicon-open"></span>
  {{configuration.uploadButtonText ? configuration.uploadButtonText : "Upload"}}
  <input type="file" style="display: none" (change)="addScreenshot($event)">
</label>
<button *ngIf="!configuration.disableUpload" [attr.class]="configuration.enterScreenshotModeButtonClass ? configuration.enterScreenshotModeButtonClass : 'btn btn-info btn-block'" type="button" (click)="enterScreenshotMode()">
  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
  {{configuration.enterScreenshotModeButtonText ? configuration.enterScreenshotModeButtonText : "Take Screenshot"}}
</button>
<div *ngFor="let screenshot of screenshots; let id = index" [attr.class]="configuration.screenshotEmbedClass ? configuration.screenshotEmbedClass : 'feedback-screenshot'">
  <button [attr.class]="configuration.screenshotEmbedRemoveButtonClass ? configuration.screenshotEmbedRemoveButtonClass : 'close'"
          data-dismiss="modal" aria-label="Close" type="button"
          (click)="remove(id)">
    <span aria-hidden="true">&times;</span>
  </button>
  <img *ngIf="screenshot" [src]="screenshot" alt="{{id}}"/>
</div>

