<div [attr.class]="configuration.feedbackButtonClass ? configuration.feedbackButtonClass : 'send-feedback-button btn'" [ngClass]="{hidden: isHidden}">
  <!--- SEND FEEDBACK -->
  <div *ngIf="!isScreenshotMode" (click)="openFeedbackModal()">
    {{configuration.feedbackButtonText ? configuration.feedbackButtonText : "Send Feedback"}}
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  </div>
  <!--- /SEND FEEDBACK -->
  <!-- SCREENSHOT OPTIONS -->
  <div *ngIf="isScreenshotMode">
    <span>Options</span>
    <div class="row">
      <div class="col-xs-12">
        <button [attr.class]="'btn-feedback ' + (configuration.takeScreenshotButtonClass ? configuration.takeScreenshotButtonClass : 'btn btn-primary btn-block')"
                [attr.disabled]="isLoading ? true : null"
                (click)="takeScreenshot()"
                [ngClass]="{'loading-icon': configuration.enableLoadingIconClass ? isLoading : false}">
          {{configuration.takeScreenshotButtonText ? configuration.takeScreenshotButtonText : "Take Screenshot"}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button [attr.class]="'btn-feedback ' + (configuration.cancelScreenshotButtonClass ? configuration.cancelScreenshotButtonClass : 'btn btn-default btn-block')"
                [attr.disabled]="isLoading ? true : null"
                (click)="cancelScreenshot()">
          {{configuration.cancelScreenshotButtonText ? configuration.cancelScreenshotButtonText : "Cancel"}}
        </button>
      </div>
    </div>
  </div>
  <!-- /SCREENSHOT OPTIONS -->
</div>
<ngx-bootstrap-feedback-modal [configuration]="configuration">
  <ng-content></ng-content>
</ngx-bootstrap-feedback-modal>
